<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shiend.makecrud">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo1"
        android:label="Rekap Meeting"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Dashboard"
            android:exported="true" />
        <activity
            android:name=".DetailRekap"
            android:exported="true" />
        <activity
            android:name=".mainSiswa"
            android:exported="false" />
        <activity
            android:name=".RekapActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BuatBiodata"
            android:label="@string/title_activity_buatbiodata" />
        <activity
            android:name=".LihatBiodata"
            android:label="@string/title_activity_lihatbiodata" />
        <activity
            android:name=".UpdateBiodata"
            android:label="@string/title_activity_updatebiodata" />
        <activity
            android:name=".RekapMeeting"
            android:label="@string/title_activity_updatebiodata" />
    </application>

</manifest>